

<button mat-raised-button type="submit" (click)="onDelete()">Delete</button>
<br>
<br>
<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput id="name" type="text" formControlName="name">
    </mat-form-field>
    <br>
     <mat-form-field appearance="fill">
        <mat-label>Group</mat-label>
        <mat-select [(value)]="selectedGroup">
            <mat-option *ngFor="let group of groups" [value]="group">
                {{group.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
<br>
    <button mat-raised-button type="submit">Save</button>
</form>

