<p>Insert User</p>

<button mat-raised-button type="submit" (click)="onDelete()">Delete</button>
<br>
<br>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput id="user" type="text" formControlName="user">
    </mat-form-field>
<br>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="text" formControlName="user">
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit">Save</button>
</form>
