<p>expenses-insert</p>


<button mat-raised-button type="submit" (click)="onDelete()">Delete</button>
<br>
<br>
<form  [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput id="name" type="text" formControlName="name">
    </mat-form-field>
<br>
    <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput id="amount" type="number" formControlName="amount">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput id="date" type="date" formControlName="date">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Note</mat-label>
        <input matInput id="note" type="text" formControlName="note">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select [(value)]="selectedCategory">
            <mat-option *ngFor="let category of categories" [value]="category">
                {{category.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
     <br>
    <button mat-raised-button type="submit">Save</button>
</form>


